body{
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: #40514E;
}

p{
    line-height: 2;
}

h1{
    color: #66BFBF;
    font-size: 5.625rem;
    margin:50px auto 0 auto;
    font-family:'Zeyada', cursive;
}
h2{
    font-weight: normal;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding-bottom: 10px;
}

h3{
    color: #11999E;
    font-family:'Montserrat', sans-serif ;
}

.top-container{
    background-color:#EAF6F6;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    padding: 100px 0 50px;
    
}
.bottom-container{
    background-color: #66BFBF;
    height: 200px;
  
}
.pro{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin: auto;
}

.bottom-cloud{
    position: absolute;
    left:250px;
    bottom:200px;

}

.top-cloud{
    position: absolute;
    right:300px;
    top:40px;
}
.footer-link{
    color: #11999E;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin: 50px 30px;
}

a:hover{
    color:#EAF6F6;  
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.dev-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.cook-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    width: 5%;
    border-width: 10px;
    margin: 80px auto;
}     

.profile{
    margin: ;
}
.footer-name{
    color: #EAF6F6;
}
.btn {
    display: inline-block;
    margin: 50px;
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #66BFBF;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #5ba3a3);
    background-image: -moz-linear-gradient(top, #66BFBF, #5ba3a3);
    background-image: -ms-linear-gradient(top, #66BFBF, #5ba3a3);
    background-image: -o-linear-gradient(top, #66BFBF, #5ba3a3);
    background-image: linear-gradient(to bottom, #66BFBF, #5ba3a3);
    text-decoration: none;
  }
  .con-msg{
    width: 35%;
    margin: auto;

  }